<div id="deleteModalLabel" class="modal fade" th:id="${'DELETE'+user.id}" tabindex="-1"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <form class="modal-body col-md text-center"
            th:action="@{/admin/users/{id}/delete(id=${user.getId()})}"
            th:method="DELETE">
        <div class="modal-body col-md">
          <label for="id"><b>ID</b></label>
          <input th:name="id" th:type="text" class="form-control"
                 id="id" th:value="${user.id}" disabled/>
          <br>
          <label for="firstName"><b>First name</b></label>
          <input th:name="firstName" th:type="text"
                 class="form-control"
                 id="firstName" th:value="${user.firstName}" disabled/>

          <br>
          <label for="lastName"><b>Last Name</b></label>
          <input th:name="age" th:type="number"
                 class="form-control"
                 id="lastName" th:value="${user.lastName}" disabled/>
          <br>
          <label for="email"><b>Last Name</b></label>
          <input th:name="email" th:type="number"
                 class="form-control"
                 id="email" th:value="${user.email}" disabled/>
          <br>
          <label for="multiSelect">Role</label>
          <select disabled class="form-control" multiple name="role_select" id="multiSelect">
            <option disabled th:each="role : ${user.getRoles()}" th:value="${role.getId()}"
                    th:text="${role.getAuthority().substring(5)}"></option>
          </select>

          <br><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Close
          </button>
          <button type="submit" class="btn btn-danger">Delete
          </button>
        </div>
      </form>
    </div>
  </div>
</div>