<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>



</head>
<body>
<div align="center">
    <h1>Users</h1>
    <a href="/admin/user-create">Create new user</a>
    <br/>
    <tr>
        <td colspan="2">
            <a th:href="@{/logout}">Logout</a>
        </td>
    </tr>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user :${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <th:block th:each="role : ${user.roles}">
                    &nbsp;<span th:text="${role.name.substring(5)}"></span>
                </th:block>
            </td>
            <td>
                <button type="button" class="btn btn-info  eBtn">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger dBtn">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>
</body>
</html>