<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0" id="top-nav">
    <ul class="navbar-nav px-3">
        <li class="navbar-text" style="color: #fcfcfc">
            <div>
                <strong  th:text="${#authentication.getPrincipal().getEmail()}">first_name</strong> with roles:
                <span th:each="role : ${#authentication.getPrincipal().getAuthorities()}"> <span
                        th:utext="${role.getAuthority().substring(5)}"></span>
                </span>
            </div>
        </li>
    </ul>
    <span class="nav-item text-nowrap px-3">
             <a class="navbar-text" sec:authorize="!isAnonymous()" th:href="@{/logout}"> Logout </a>
        </span>
</nav>