<div class="col-md bg-white border">
    <form class="offset-md-4 col-md-4 mt-3 mb-4" th:align="center"
          th:action="@{/admin}"
          th:object="${user}" method="post">
        <label for="firstName"><b>First name</b></label>
        <input th:name="firstName" th:type="text" class="form-control" id="firstName"/>
        <br>
        <label for="lastName"><b>Last name</b></label>
        <input th:name="lastName" th:type="text" class="form-control" id="lastName"/>
        <br>
        <label for="email"><b>E-mail</b></label>
        <input th:name="email" th:type="text" class="form-control" id="email"/>
        <br>
        <label for="password"><b>Password</b></label>
        <input th:name="password" th:type="password" class="form-control" id="password"/>
        <br>
        <label for="multiSelect">Role</label>
        <select required class="form-control" multiple
                name="listOfRoles"
                id="multiSelect" size="2">
            <option th:each="role : ${listRoles}"
                    th:value="${role.getId()}"
                    th:text="${role.getAuthority()}">
            </option>
        </select>
        <br>
        <button th:type="submit" class="btn btn-success" value="Add User">Add new User</button>
    </form>
</div>