<div class="card">
    <div class="card-header">
        All users
    </div>
    <div class="card-body">
        <div class="row">
            <table class="table table-hover table-responsive-lg">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user :${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <span th:each="role : ${user.getAuthorities()}">
                            <span th:utext="${role.getAuthority().substring(5)}"></span>
                       </span>
                    </td>
                    <td>
                        <a style="color: white" type="button" class="btn btn-sm btn-info" data-bs-toggle="modal"
                           data-bs-target="#editModal"
                           th:data-bs-target="${'#editModal'+user.id}">
                            Edit
                        </a>
                    <td>
                        <a style="color: white" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                           th:data-bs-target="${'#DELETE'+user.id}">
                            Delete
                        </a>
                    </td>
                    <div th:replace="/modals/modal-delete:: #deleteModalLabel">

                    </div>
                    <div th:replace="/modals/modal-edit:: #editModalLabel">
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>